.button {
  font-weight: $font-weight-bold;
  &:hover {
    text-decoration: none;
  }

  &.button-work {
    border: 3px solid $white;
    text-transform: uppercase;
    letter-spacing: 2px;

    &:hover {
      color: $primary-color;
      border-color: $primary-color;
      background-color: $white;
    }
  }
}
