.footer {
  background-color: $black;
  padding: 4rem 0;
  color: $light-gray;
  &-info {
    color: $light-gray;
    @extend h3;
    &.left {
      padding-left: 0.7rem;
    }
  }

  a {
    color: $orange;
    font-weight: $font-weight-bold;
    &:hover {
      color: $orange-dark;
    }
  }
  .link-to-top {
    display: block;
    padding-top: 2rem;
    margin-top: 1rem;
  }
}
