.footer {
  background-color: $black;
  color: $light-gray;
  padding: 2rem 0;
  font-size: rem-calc(12);

  @include breakpoint(medium) {
    padding: 4rem 0;
  }
  &-info {
    color: $light-gray;
    @extend h3;
    &.left {
      padding-left: 0.7rem;
    }
  }

  a {
    color: $orange;
    font-weight: $font-weight-bold;
    &:hover {
      color: $orange-dark;
    }
  }
  .link-to-top {
    display: block;
    padding-top: 2rem;
  }

  &-text-right {
    text-align: center;
    margin-top: 1rem;
    @include breakpoint(medium) {
      text-align: right;
      margin-top: 0;
    }
  }
  &-text-left {
    text-align: center;
    a {
      justify-content: center !important;
    }
    @include breakpoint(medium) {
      text-align: left;
    }
  }
}
