@mixin title-color() {
  .title,
  .title-small {
    color: $white;
    text-shadow: 0px 3px 1px rgba($black, 0.2);
    line-height: 1.2;
  }
}

.section-contact-map {
  margin-top: 4rem;
  padding: 4rem;
  background: linear-gradient(rgba($white, 0.6), rgba($white, 0.6)), image-url('la-lustrerie-roubaix-map.jpg');
  background-size: cover;
  background-position: top center;
  a {
    margin-top: 4rem;
    display: block;
  }
}

.section-hero {
  margin-bottom: 2rem;
  background: linear-gradient(to right, $orange-dark 0%, $orange 50%);
  text-align: center;
  @include title-color();

  padding: 1rem;
  @include breakpoint(medium) {
    padding: 3rem;
  }
  @include breakpoint(large) {
    padding: 4rem;
  }
}

.section-call-to-action {
  background-size: cover;
  text-align: center;
  @include title-color();

  &.section-footer {
    padding: 2rem 0;
    background: linear-gradient(to right, rgba($purple-steroid, 0.8) 0%, rgba($purple, 0.8) 50%), image-url('call-to-action/footer.jpg');
    background-position: center center;
  }
  .section-homepage {
    padding-top: 2rem;
    padding-bottom: 2rem;
    &.background-left {
      background: linear-gradient(to right, rgba($purple-steroid, 0.8) 0%, rgba($purple, 0.8) 50%), image-url('call-to-action/homepage-left.jpg');
      background-position: top center;
    }
    &.background-middle {
      background: linear-gradient(to right, rgba($purple-steroid, 0.8) 0%, rgba($purple, 0.8) 50%), image-url('call-to-action/homepage-middle.jpg');
    }
    &.background-right {
      background: linear-gradient(to right, rgba($purple-steroid, 0.8) 0%, rgba($purple, 0.8) 50%), image-url('call-to-action/homepage-right.jpg');
      background-position: center center;
    }
  }

  .title {
    @extend h3;
  }
  .title-small {
    @extend h4;
  }
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  @include breakpoint(medium){
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  &.section-light {
    background-color: $gray-lighter;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.pb-0 {
  padding-bottom: 0;
}
