$top-bar-height: 125px;

body {

  @include breakpoint(medium up){
    .section-hero,
    .homepage-baseline {
      margin-top: $top-bar-height;
    }
  }
}

.top-bar {
  position: relative;
  box-shadow: 0 0 0 rgba(30, 31, 32, 0.2);
  @include breakpoint(medium up){
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 1px 1px rgba(30, 31, 32, 0.2);
    z-index: 999;
  }

  #js-top-bar--button {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    min-width: 130px;
  }
  #js-close {
    display: none;
  }

  .active {
    color: $purple-steroid !important;
  }
  a:not(.button) {
    font-weight: $font-weight-bold;
    color: $gray;
    &:hover {
      color: $black;
      text-decoration: none;
    }
  }
  .top-bar-right {
    display: none;
    @include breakpoint(large) {
      display: block;
    }
  }
  @include breakpoint(small medium){
    .menu.vertical > li > a {
      justify-content: center;
    }
  }
}
