.top-bar {
  position: relative;
  #js-top-bar--button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    min-width: 130px;
  }
  #js-close {
    display: none;
  }

  .active {
    color: $purple-steroid !important;
  }
  a:not(.button) {
    font-weight: $font-weight-bold;
    color: $gray;
    &:hover {
      color: $black;
      text-decoration: none;
    }
  }
  .top-bar-right {
    display: none;
    @include breakpoint(large) {
      display: block;
    }
  }
  @include breakpoint(small medium){
    .menu.vertical > li > a {
      justify-content: center;
    }
  }
}
