.tunnel {
  margin: 2rem 0;
  counter-reset: progress;
  padding-left: 0;
  display: flex;
  li {
    display: flex;
    align-items: center;
    list-style-type: none;
    counter-increment: progress;
    font-weight: $font-weight-bold;
  }
}


.tunnel li+li {
  flex: 1 0 auto;
}

/* hide further steps */
.tunnel .is-current ~ li {
  opacity: .3;
}

/* show counter numbers */
.tunnel li::after {
  content: counter(progress);
  display: inline-block;
  box-sizing: border-box;
  width: 2em;
  height: 2em;
  line-height: 2em;
  background: $purple-light;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}


.tunnel li+li::before {
  content: "";
  flex: 1;
  display: block; /* IE10 fix */
  border-bottom: 2px solid $purple-light;
}
.tunnel .is-current ~ li::before {
  border-bottom-style: dotted;
}
