$white: #ffffff;
$light-gray: #FAFAFA;
$gray-lighter: #F8F7FC;
$gray-light: #DDDEE3;
$gray: #9E9E9E;
$black: #1E1F20;

$purple-steroid: #5A24FB;
$purple: #49209E;
$purple-light: #534A62;
$orange: #FD9A27;
$orange-dark: #EB722E;

$foundation-palette: (
  primary: $purple,
  secondary: $orange,
  success: #3adb76,
  warning: #ffae00,
  alert: #ec5840,
);

$body-background: $light-gray;
