$font-weight-normal: 400;
$font-weight-bold: 700;
$global-font-size: 120%;

// $body-font-family: 'Roboto Condensed', sans-serif;
$header-font-family: 'Roboto Condensed', sans-serif;
$header-font-weight: $font-weight-bold;
