.homepage {
  .homepage-baseline {
    &--title {
      h1 {
        line-height: 1.2;
      }

      min-height: 600px;
      @include breakpoint(large) {
        min-height: 570px;
        .columns {
          align-self: center;
        }
      }
      @include breakpoint(small only) {
        padding-top: 3rem;
      }

      color: $gray;
      em {
        color: $orange-dark;
      }
    }

    min-height: 100vh;
    @include breakpoint(large) {
      min-height: calc(100vh - 210px);
    }

    position: relative;
    &--links {
      position: absolute;
      bottom: 0;
      @include breakpoint(medium large) {
        width: 100%;
      }
    }
  }
  .section-call-to-action {
    .row {
      max-width: 100%;
    }
  }
}
