@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.homepage {
  .top-bar,
  .footer,
  .homepage-baseline,
  .homepage-baseline--links {
    opacity: 0;  /* make things invisible upon start */
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 500ms;
    animation-delay: 2000ms;
  }
  .homepage-baseline {
    &--title {
      h1 {
        line-height: 1.2;
      }

      min-height: 600px;
      @include breakpoint(large) {
        min-height: 570px;
        .columns {
          align-self: center;
        }
      }
      color: $gray;
      em {
        color: $orange-dark;
      }
    }

    min-height: 100vh;
    @include breakpoint(large) {
      min-height: calc(100vh - 210px);
    }

    animation-delay: 500ms;
    position: relative;
    &--links {
      position: absolute;
      bottom: 0;
      @include breakpoint(medium large) {
        width: 100%;
      }
    }
  }
  .section-call-to-action {
    .row {
      max-width: 100%;
    }
  }
}
