@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.homepage {
  .top-bar,
  .footer,
  .homepage-baseline,
  .homepage-baseline--links {
    opacity: 0;  /* make things invisible upon start */
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 500ms;
    animation-delay: 2000ms;
  }
  .homepage-baseline {
    animation-delay: 500ms;
  }
}
